.search {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-block: 1rem;
}

.search input {
  border-radius: 0.5rem;
  padding: 0.2rem;
  border: none;
  width: 300px;
  margin-inline-start: 10px;
}

.search input:hover {
  box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.1);
}
