:root {
  --bg: #f8f8f8;
  --txt: #000000;
  --txt-soft: #b7b7c8;
  --action-gradient: linear-gradient(180deg, #ed1d24 0%, #ed1f69 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Alef", sans-serif;
  overflow-x: hidden;
  background-color: var(--bg);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

h1 {
  font-size: calc(1rem + 1vw);
}

#root,
#__next {
  isolation: isolate;
}
